# --- Pliki środowiskowe ---
.env
.env.*
!/.env.example

# --- Backupy bazy danych ---
*.sql
*.bak

# --- Foldery storage i pliki tymczasowe ---
suppsales_backend/storage/

# --- Zależności i artefakty budowania ---

# Backend (Python / FastAPI)
suppsales_backend/.venv/
suppsales_backend/__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Frontend (Next.js / Node)
suppsales_frontend/node_modules/
suppsales_frontend/.next/
suppsales_frontend/out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Print Hub
# UWAGA: Upewnij się, że to ma być ignorowane!
suppsales_printhub/       

# --- Pliki systemowe i edytorów kodu (BARDZO WAŻNE) ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp